* { margin: 0; padding: 0; border: 0; font-size: 100%; }

#headerdiv {
	background-image: url("backgroundheader.jpg");
	background-size: contain;
	background-size: cover;
	background-repeat: no-repeat;
	align-content: center;
}
#screendtitle {
	font-family: 'Anton', sans-serif;
	font-size: 120px;
	vertical-align: middle;
	color:cornflowerblue;
}
#logo {
	max-width: 20%;
	height:auto;
	
	
}